h1,
h2 {
    text-align: center;
}

h1 {
    color: blueviolet;
    font-size: 400%;
}

h2 {
    color: rgb(35, 32, 229);
    font-size: 200%;
}

h2:hover {
    color: red;
}

img {
    display: block;
    width: 315px;
    margin: 50px auto;
}

body {
    background: #b9d6e9;
}

#menu {
    width: calc( 20% - 60px ); 
    float: left;
    background: #669b6c;
    height: 100vh;
    padding: 0 30px;
}
#contenutoprincipale {
    width: 80%; 
    float: left;
}
